/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* root settings; 62.5% = 10px*/
html {
    font-size: 62.5%;
}


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),
    url(../img/raven-rock-overlook.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.umstead-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),
    url(../img/William-Umstead-Park.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.raven-rock-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),
    url(../img/Raven-Rock-State-Park.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.hemlock-bluffs-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),
    url(../img/hemlock-bluffs-nature.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.lake-crabtree-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),
    url(../img/crabtree-CP.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.harris-lake-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),
    url(../img/Harris_Lake_Sunset.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-10%, -10%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation: moveInRight 1s ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    animation: moveInLeft 1s ease-out;
    /* letter-spacing: 1px; */
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translate(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translate(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.links {
    font-size: 2rem;
    background-color: #fff;
    padding: 10px;

}
.site-link {
    padding: 10px;
    text-decoration: none;

}

/* Expanding Cards https://www.udemy.com/course/50-projects-50-days/learn/lecture/23595192#overview*/
.cards-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.expanding-cards {
    display: flex;
    width: 40%;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    /* Took the following out because it was breaking the site */
    /* background-repeat: no-repeat; */
    height: 40vh;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;

}
.panel h3 a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    /* Makes the link/h3 invisible if not active */
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 a {
    opacity: 1;
    /* This stops the h3/link from immediately appearing until card is fully expanded*/
    transition: opacity 0.3s ease-in 0.4s;
}

/* @media(max-width: 480px) {
    .expanding-cards {
        width: 100vw;
    }


} */